<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>classduty</title>
</head>
<body>
    <p>今日值日生名單</p>
    <ul>
            <li> 黑板 : {{classduty_arrangement.board}} </li>
            <li> 回收 : {{classduty_arrangement.recycle}} </li>
            <li> 飯盒 : {{classduty_arrangement.ricebox}} </li>
            <li> 菜盒1 : {{classduty_arrangement.vegebox1}} </li>
            <li> 菜盒2 : {{classduty_arrangement.vegebox2}} </li>
            <li> 湯桶 : {{classduty_arrangement.soupbox}} </li>
            <li> 餐盤1 : {{classduty_arrangement.platebox1}} </li>
            <li> 餐盤2 : {{classduty_arrangement.platebox2}} </li>

        </ul>

{% comment %} 
    {% for s in students %}
             <tr>
                 <td> <input type="checkbox" name="code" value={{s.code}}> </td>
                 <th>{{s.code}}</th>
                 <th>{{s.name}}</th>
             </tr>
        {% endfor %} {% endcomment %}
</body>
</html>