<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dayoff</title>
</head>
<body>
    <h1>今日缺席名單輸入</h1>
    <form action="" method="POST">
         <div>
             <label for="absence">今日缺席人數:</label>
             <input type="number" id="absence" name="absence" value="0"  min="0" max="50">
         </div>

         <table>
             <tr>
                 <th>選取</th>
                 <th>座號</th>
                 <th>姓名</th>
             </tr>
         {% for s in students %}
             <tr>
                 <td> <input type="checkbox" name="code" value={{s.code}}> </td>
                 <th>{{s.code}}</th>
                 <th>{{s.name}}</th>
             </tr>
        {% endfor %}

         </table>

         <input type="submit" value="確認送出">

    </form>

</body>
</html>