<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>punishment</title>
</head>
<body>
    <h1>勞動服務名單輸入</h1>
    <form action="" method="POST">
             <p><input type="date" name="date"></p>
         <div>
             <label for="punishment">勞動服務名單輸入:</label>
             <input type="number" id="punishment" name="punishment"  min="0" max="50" value='0'>
         </div>

         <table>
             <tr>
                 <th>選取</th>
                 <th>座號</th>
                 <th>姓名</th>
             </tr>
         {% for s in students %}
             <tr>
                 <td> <input type="checkbox" name="code" value={{s.code}}> </td>
                 <th>{{s.code}}</th>
                 <th>{{s.name}}</th>
             </tr>
        {% endfor %}

         </table>

         <input type="submit" value="確認送出">

    </form>

</body>
</html>