<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Classduty</title>
</head>
<body>
    <p>Welocme,歡迎來到值日生管理系統</p>
    <p>{{now}}</p>
    <a href="/dayoff/"> 點選進入今日請假名單輸入</a><br>
    <a href="/reduty/"> 點選進入重做名單輸入</a><br>
    <a href="/punishment/"> 點選進入勞動服務名單輸入</a><br>
    <a href="/classduty/"> 執行值日生排定名單</a><br>
</body>
</html>